form(name="single-task", method="post", action="/gtest")
	div.input
		span.label Title
		input(type="text", name="title")
	div.input
		span.label Project
		input(type="text", name="Project")
	div.input
		span.label Sprint
		input(type="text", name="Sprint")
	div.input
		span.label Assignee
		input(type="text", name="Assignee")
	div.input
		span.label DueDate
		input(type="date", name="DueDate")
	div.actions
		input(type="submit", value="add")
